<?xml version="1.0" encoding="utf-8"?>
<zone target="DROP">
  <short>{{webserver_zone}}</short>
  <description>Zone for web server</description>
  <service name="sshd" />
  <service name="httpd" />
</zone>
